#body {
    margin: 0px 25px;
}

.navbar {
    border-radius: 0;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover {
    text-decoration: none;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px 10px;
}

.a-table {
    color: black;
}

.a-table:hover {
    color: dodgerblue;
    text-decoration: underline;
}